@import "tailwindcss";

@theme {
  --color-primary: #f4f4f4;
  --color-secondary: #181800;
  --color-accent: #001a84;
  --color-accent-light: #eef1ff;
  --color-accent-hover: #00136a;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-muted: #6b7280;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}